
.services-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 24px;
    margin-top: 16px;
}

.service-card {
    display: flex;
    flex-direction: column;   /* 👈 CLAVE */
    align-items: center;      /* 👈 centra horizontal */
    justify-content: center;  /* 👈 centra vertical */
    gap: 16px;

    min-height: 200px;
    padding: 24px;
    border-radius: 20px;

    background: #ffffff;
    border: 1px solid #c5c1c1;

    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    transition:
        transform 0.25s ease,
        box-shadow 0.25s ease;
}


.service-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 12px 32px rgba(0, 0, 0, 0.12);
}

.service-icon {
    font-size: 80px;
    color: #1976d2;
}


.service-title {
    font-size: 1.2rem;
    font-weight: 600;
    color: #333;
    text-align: center;   /* 👈 CLAVE */
}
